{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if current_category == total_sub_category %}active{% endif %}" href="{{total_sub_category.get_absolute_url}}" style="color:#000000;">
            전체
        </a>
    </li>
    {% for category in sub_categories %}
    <li class="nav-item">
        <a class="nav-link {% if current_category == category %}active{% endif %}" href="{{category.get_absolute_url}}" style="color:#000000;">
            {{category.name}}
        </a>
    </li>
    {% endfor %}
</ul>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th class="text-center">분류</th>
        <th class="text-center">제목</th>
        <th class="text-center">글쓴이</th>
        <th class="text-center">작성일</th>
        <th class="text-center">조회</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td class="text-center" style="width: 70px;">{{object.category}}</td>
        <td><a href="{{object.get_absolute_url}}" style="color:#000000">{{object.title}}</a></td>
        <td class="text-center" style="width: 120px;">{{object.author}}</td>
        <td class="text-center" style="width: 100px;">{{object.formatcreatedate}}</td>
        <td class="text-center" style="width: 70px;">{{object.hits}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="float:right">
    <a href="{% url 'board:document_create' current_category.slug %}" class="btn btn-outline-dark btn-sm">쓰기</a>
</div>

{% if is_paginated %}
    <ul class="pagination justify-content-center pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="{% url 'board:document_in_category' current_category.slug %}?page={{page_obj.previous_page_number}}" class="page-link">
                <
                </a>
            </li>
        {% endif %}

        {% for page_num in paginator.page_range %}
            <li class="page-item {% if page_obj.number == page_num %}disabled{% endif %}">
                <a href="{% url 'board:document_in_category' current_category.slug %}?page={{page_num}}{% if search_keyword %}&search={{search_keyword}}{% endif %}" class="page-link">
                    {{page_num}}
                </a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a href="{% url 'board:document_in_category' current_category.slug %}?page={{page_obj.next_page_number}}" class="page-link">
                    >
                </a>
            </li>
        {% endif %}
    </ul>
{% endif%}

<form class="form" action="" method="post">
    <div class="form-row align-items-center justify-content-center">
        {% csrf_token %}
        <div class="col-sm-3 my-1">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{% if search_keyword %}{{search_keyword}}{%endif%}">
        </div>
        <div class="col-auto my-1">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
{% endblock %}