{% extends 'base.html' %}
{% block title %}
{{object.title}}
{% endblock %}

{% block content %}
<style>
.doc_title {
    padding-top:10px;
    padding-bottom:10px;
    border-top:2px solid #000000;
    border-bottom:2px solid #000000;
}
.doc_author {
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px solid #CACFD2;
}
</style>
<div class="row-sm doc_title">
    <div class="col-sm">
        <span style="color:#2a4752; font-weight:bold; font-size:0.9em">[{{object.category}}]</span>
        <span style="font-weight:bold;">&nbsp;&nbsp;{{object.title}}</span>
        <div class="text-muted" style="float:right; font-size:0.9em;">
            {{object.formatcreatedatetime}}
            {% if object.formatcreatedatetime == object.formatupdatedatetime %}
            {% else %}
            ({{object.formatupdatedatetime}}에 수정됨)
            {% endif %}
        </div>
    </div>
</div>
<div class="row-sm doc_author">
    <div class="col-sm">
        {{object.author}}
        <div style="float:right">
            <span style="color:#909497; font-size:0.8em">조회 수</span>
            <span style="font-size:0.8em; font-weight:bold;">{{object.hits}}</span>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        {% if object.app_name %}
        <h6 style="background-color:#171a21; padding:5px; font-weight: bold; color:#ffffff;">&nbsp;&nbsp;게임 정보</h6>
        <table class="table table-bordered table-sm">
            <tbody>
            <tr style="display: table-row;">
                <th scope="row" style="vertical-align: inherit;" width="10%">&nbsp;&nbsp;제목</th>
                <td style="vertical-align: inherit;">&nbsp;{{object.app_name}}</td>
                <td rowspan="4" width="30%" style="padding: 0 !important; margin: 0 !important;">
                    <a href="{{object.app_link}}">
                        <img src="{{object.app_image}}" width="" height="160" title="{{object.app_name}}">
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="vertical-align: inherit;">&nbsp;&nbsp;상점</th>
                <td style="vertical-align: inherit;">
                    <a style="color: #000000;" href="{{object.app_link}}">&nbsp;{{object.app_link}}</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="vertical-align: inherit;">&nbsp;&nbsp;가격</th>
                <td style="vertical-align: inherit;">&nbsp;{{object.app_price}}</td>
            </tr>
            <tr>
                <th scope="row" style="vertical-align: inherit;">&nbsp;&nbsp;출시</th>
                <td style="vertical-align: inherit;">&nbsp;{{object.app_release_date}}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col-1"></div>
  </div>
<br>
{{object.text|safe}}
<div class="row-sm" style="padding-bottom:40px; border-bottom:2px solid #000000;">
    <div class="col-sm"></div>
    <div class="col-sm">
        {% if object.attachment %}
        <div style="float:left;">
            <span style="font-weight: bold;"><i class="fas fa-paperclip"></i>&nbsp;첨부파일</span>
            <a id="id_uploaded_file" style="color: #000000; padding: 5px; border: 1px solid rgb(221, 221, 221);" href="{{object.attachment.url}}" download>{{object.filename}}</a>
        </div>
        {% endif %}
        <div  style="float:right;">
            {% if user.is_authenticated %}
            <a href="{% url 'board:document_update' object.id %}" class="btn btn-outline-secondary btn-sm">수정</a>
            <a href="{% url 'board:document_delete' object.id %}" class="btn btn-outline-secondary btn-sm">삭제</a>
            {% endif %}
        </div>

    </div>
</div>
<br>
<span class="badge badge-dark" style="font-size: 1em;">Comments '{{comments.count}}'</span>
<table class="table table">
    {% for comment in comments %}
    <tr>
        <td>
            <span style="font-weight:bold;">
                {{comment.author.username}}
                {%if comment.author.is_superuser %}
                <span class="badge badge-secondary" style="font-size:0.7em;">관리자</span>
                {% endif %}
            </span>
            <span style="font-size:0.8em;" class="text-muted">
                {{comment.formatcreatedatetime}}
                {% if comment.formatcreatedatetime == comment.formatupdatedatetime %}
                {% else %}
                ({{comment.formatupdatedatetime}}에 수정됨)
                {% endif %}
            </span>
            {% if comment.author == user %}
            <a href="{% url 'board:comment_update' comment.id %}" class="badge badge-primary">수정</a>
            <a href="{% url 'board:comment_delete' comment.id %}" class="badge badge-primary">삭제</a>
            {% endif %}
            <br>
            {{comment.text}}
        </td>
    </tr>
{% endfor %}
</table>
<form action="{% url 'board:comment_create' object.id %}" method="post">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" value="등록" class="btn btn-outline-dark btn-sm">
</form>
{% endblock %}