{% extends 'base.html' %}

{% block title %}
{{object.category}}
{% endblock %}

{% block content %}
<style>
    .form_style{
        border: 1px solid #d1d1d1;
        width: 870px;
        padding: 15px;
        border-radius: 10px;
        background-color: #F8F8F8;
    }
    .file_upload{
        border: 1px solid #d1d1d1;
        padding: 15px;
    }

</style>
{% load widget_tweaks %}
<div class="form_style">
<form action="" method="post" enctype="multipart/form-data">
<div class="game_box">
    <table class="table table-bordered" style="background-color: #ffffff;">
        <tr>
            <td width="8%" style="vertical-align: middle; font-weight: bold; font-size: 0.8em;" >
                <div>게임</div>
                <div style="font-size: 0.7em; color: #999;">(단일선택)</div>
            </td>
            <td width="80%">
                <input class="form-control mr-sm-2" style="width:100%;" type="search" id="app_searchbox" name="search" placeholder="해당 스팀 앱의 번호를 입력하세요. ex) https://store.steampowered.com/app/413150 -> 413150" aria-label="Search" autocomplete="off">
                <br>
                <div class="select_app_text" style="margin-left:15px; font-weight: bold; font-size: 0.8em;"></div>
                <div class="row data_area" style="margin-left:15px;"></div>
            </td>
        </tr>
    </table>

</div>
    {% csrf_token %}
    {{form.media}}
    <table>
        <tbody>
        <tr>
            <td>{% render_field form.category class="form-control" %}</td>
            <td width="760px">{% render_field form.title class="form-control" placeholder='제목' %}</td>
        </tr>
        </tbody>
    </table>
    {{form.text}}
    <div class="file_upload">{{form.attachment}}</div>
    <br>
    <div class="form-row align-items-center justify-content-center">
        <input type="submit" class="btn btn-outline-dark" value="등록">
    </div>
</form>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function(){
    $('#app_searchbox').keypress(function(e){
        if(e.keyCode==13) {
            e.preventDefault();
            //alert('과연?');

            var get_text = $("input[id='app_searchbox']").val();

            //alert(get_text)
            $.ajax({
                url: '/board/ajax/get_steam_app/',
                type: "GET",
                dataType: 'json',
                data: {"search": get_text},
                success: function (data) {
                    //alert("성공!");
                    name = data.name;
                    image = data.header_image;
                    price = data.final_formatted;
                    link = data.link;
                    release_date = data.release_date;

                    $('input#id_app_name').val(name);
                    $('input#id_app_image').val(image);
                    $('input#id_app_price').val(price);
                    $('input#id_app_link').val(link);
                    $('input#id_app_release_date').val(release_date);

                    $('.data_area').empty();
                    $('.select_app_text').html('선택된 게임');
                    $('.data_area').append($('<span/>').attr('class', 'app_image'));
                    $('.app_image').append($('<img/>').attr('class', 'header_image'));
                    $('.header_image').attr('width', '124px');
                    $('.header_image').attr('height', '49px');
                    $('.header_image').attr('style', 'max-width: none; padding: 1px; border: 1px solid rgb(221, 221, 221); vertical-align: top;');
                    $('.header_image').attr('src', image);

                    $('.data_area').append($('<span/>').attr('class', 'app_content'));
                    $('.app_content').append($('<span/>').attr('class', 'app_name'));
                    $('.app_name').attr('style', 'font-size: 0.9em; font-weight: bold;');
                    $('.app_name').html("&nbsp;" + name);
                    $('.app_content').append($('<span/>').attr('class', 'app_price'));
                    $('.app_price').attr('style', 'font-size: 0.8em; font-weight: bold; color: #999;');
                    $('.app_price').html("(" + price + ")");
                    $('.app_content').append($('<span/>').attr('class', 'app_store_link'));
                    $('.app_store_link').append($('<a/>').attr('class', 'app_link'));
                    $('.app_link').attr('style', 'font-size: 0.9em; font-weight: bold; color: #2a4752; display: block;');
                    $('.app_link').attr('href', link);
                    $('.app_link').html("&nbsp;" + link);
                    //alert(image);
                    console.log(data);
                }
            }).fail(function(){
                $('.data_area').html('검색 결과가 없어요!');
            });
        }
    });
});
</script>
{% endblock %}