{% extends 'base.html' %}

{% block title %}
{{object.category}}
{% endblock %}

{% block content %}

<div><img src="{{app_info.image}}" align="top" width="124px" height="49px" style="max-width: none; padding: 1px; border: 1px solid rgb(221, 221, 221); vertical-align: top; display: inline;" title="{{app_info.name}}">
    <span>
        {{app_info.name}}
        <div>
            {{app_info.price}}
            <a href="{{app_info.link}}">{{app_info.link}}</a>
        </div>
    </span>
</div>






<form action="" method="post" enctype="multipart/form-data">
    <form class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <input type="submit" class="btn btn-outline-dark" value="등록">
</form>
{% endblock %}